/* VARIABLES */
:root {
    --primary-color: #6DD3CE;
    --secondary-color: #011627;
    --tertiary-color: #b2396b;
    --fourth-color: #C8E9A0;
    --fifth-color: #F3C677;
  }
  /* UNIVERSAL SELECTOR */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    background: var(--fourth-color);
}
/* HEADER STYLES START */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* HEADER STYLES END */
/* HERO STYLES START */
.hero {
    background-image: url("../images/portrait.JPG");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: 60% 40%;
    padding: 200px 0;
}
.hero h2 {
    font-size: 32px;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 320px;
}
/* HERO STYLES END */
/* ABOUT ME STYLES START */
.intro {
    display: flex;
    flex-wrap: wrap;
}
.about-me-text {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    line-height: 1.7;
    width: 75%;
    text-align: center;
}
.about-me-text h3 {
    font-size: 28px;
}
.about-me-text p {
    width: 75%;
    font-size: 20px;
    margin: 0 auto;
}
/* ABOUT ME STYLES END */
/* WORK STYLES START */
.projects {
    display: flex;
    flex-wrap: wrap;
}
.work-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 75%;
}
#run-buddy {
    background-image: url("../images/run-buddy.jpeg");
}
#surf {
    background-image: url("../images/surf.jpeg");
}
#calculator {
    background-image: url("../images/calculator.jpeg");
}
#pastel {
    background-image: url("../images/pastel.jpeg");
}
.project img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    height: 200px;
    width: 100%; 
}
#LED {
    background-image: url("../images/led.jpeg");
}
#work h2 {
    height: 800px;
}
.project {
    position: relative;
    margin: 10px auto;
    display: flex;
    align-items: center;
    background-size: cover;
    opacity: .7;
    width: 40%;
    border: 2px solid var(--secondary-color);
    border-radius: 10px 10px 10px;
}
.project:hover {
    border: 3px solid var(--fifth-color);
    opacity: 1;
}
.project p {
    color: var(--tertiary-color);
    font-size: 16px;
}
.project a {
    font-size: 20px;
    line-height: 1.5;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}
.project-name {
    background-color: var(--fifth-color);
    display: absolute;
}
/* WORK STYLES END */
/* CONTACT ME STYLES START */
#contact-me {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: var(--fifth-color);
    width: 100%;
}
.contact-info {
    display: inline-flex;
    align-items: center;
}
.contact-info iframe {
    height: 400px;
}
.contact-info a {
    color: var(--secondary-color);  
}
.contact-info > * {
    flex: 1;
    margin: 15px;
}
.address {
    display: inline-flex;
    flex-direction: column;
    flex: 0 1 auto;
}
.contact-info h3 {
    color: var(--secondary-color);
    font-size: 24px;
}
.contact-info address, .contact-info p {
    margin: 20px 0;
    line-height: 1.5;
    font-style: normal;
    font-size: 16px;
}
.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 10px;
    background: rgba(255,255,255, 0.75);;
}
.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);;
    outline: none;
  }
.contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}
.contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
}
/* CONTACT ME STYLES END */
/* RESUME STYLES START */
#resume {
    align-items: center;
    background: var(--fifth-color);
}
#resume h2 {
    height: 150px;
}
#resume h3 {
    font-size: 30px;
    padding: 0 0 0 30px;
    border-top: 3px solid var(--secondary-color);
    margin: 0 70px;
    width: 70%;
    text-align: center;
}
/* RESUME STYLES END */
/* FOOTER STYLES START */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}
footer div {
    text-align: right;
    line-height: 1.5;
}
footer a {
    color: var(--secondary-color);
}
/* FOOTER STYLES END */
/* UTILITY STYLES START */
.section-title {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    font-size: 45px;
    color: var(--secondary-color);
    border-right: 3px solid;
    text-align: left;
    width: 180px;
    height: 500px;
}
.primary-border {
    border-color: var(--primary-color);
}
.flex-row {
    display: flex;
    flex-wrap: wrap;
}
/* UTILITY STYLES END */