/* VARIABLES */
:root {
    --primary-color: #6DD3CE;
    --secondary-color: #011627;
    --tertiary-color: #b2396b;
    --fourth-color: #C8E9A0;
    --fifth-color: #F3C677;
  }
  /* UNIVERSAL SELECTOR */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}
/* HEADER STYLES START */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* HEADER STYLES END */
/* FOOTER STYLES START */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}
footer div {
    text-align: right;
    line-height: 1.5;
}
footer a {
    color: var(--secondary-color);
}
/* FOOTER STYLES END */
/* HERO STYLES START */
.hero {
    background-image: url("../images/portrait.JPG");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: 60% 40%;
    padding: 200px 0;
}
.hero h2 {
    font-size: 32px;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 320px;
}
/* HERO STYLES END */
/* ABOUT ME STYLES START */
.intro {
    display: flex;
    flex-wrap: wrap;
}
.intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 65%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
.intro h3 {
    text-align: center;
    font-size: 28px;
}
/* ABOUT ME STYLES END */
/* UTILITY STYLES START */
.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-right: 3px solid;
    padding-bottom: 20px;
    text-align: left
    margin: 0 auto 35px auto;
    width: 15%;
}
.primary-border {
    border-color: var(--primary-color);
}
.secondary-border {
    border-color: var(--tertiary-color);
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.flex-row {
    display: flex;
}
/* UTILITY STYLES END */